.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* System Fonts as used by GitHub */
#root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


#blackjack-area {
  background: #eee;
  text-align: center;
  background: #73C8A9;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to top, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to top, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-cred {
  font-weight: 200;
  font-size: 12px;
  font-style: italic;
}

.main-menu {
  background: #000;
  color: #fff;
}

.main-menu .wrap {
  padding: 40px;
  padding-top: 20px;
}

.menu-item {
  margin-right: 20px;
}

.menu-item:last-of-type {
  margin-right: 0;
}

.menu-item a {
  color: #fff;
}

.menu-item .link:hover, #logo {
  cursor: pointer;
}

#logo {
  float: left;
}

.menu-items {
  float: right;
}

.card-heading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
}

.playing-card {
  padding: 20px;
  border: 3px solid #aaa;
  color: #aaa;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  margin: 8px;
  width: 90px;
  height: 140px;
  background: #fff;
  box-shadow: 4px 4px 8px rgba(0,0,0,.4);
  float: left;
}

.playing-card.black {
  border: 3px solid #222;
  color: #222;
}

.playing-card.red {
  border: 3px solid red;
  color: red;
}

.playing-card-suit {
  margin-top: 12px;
  font-size: 50px;
}

.card-area {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  clear: both;
}

.player-cards {
  width: 600px;
  float: left;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.house-cards {
  width: 600px;
  float: right;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.player-action-area {
  clear: both;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}


.footer-area {
  margin-top: 40px;
  background: #000;
  color: #fff;
  padding: 20px;
  font-weight: 200;
  font-size: 12px;
}

button, .button {
  background: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

button:hover, .button:hover {
  cursor: pointer;
}

.start-button-area {
  margin-top: 20px;
}

#start-reset-button.game-active {
  background: #aaa;
}

.game-status h3 {
  margin: 0;
  margin-bottom: 8px;
}

.game-status {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.game-status.house-won {
  background: red;
  color: #fff;
}

.game-status.player-won {
  background: yellow;
  color: #000;
}

.player-action-area {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
}

.hit-button-area {
  float: left;
  width: 140px;
}

.stand-button-area {
  float: right;
  width: 140px;
}

.info-area {
  font-weight: 200;
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 13px;
}

.info-area.spacer {
  visibility: hidden;
}

.hidden {
  display: none;
}

#about-page {
  margin: 60px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#about-page button {
  margin-top: 60px;
}


/* ---- Keep footer down at the bottom of the page ---- */

* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
}

#root {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 background: #73C8A9;
 padding-bottom: 100px; /* height of your footer */
}

.footer-area {
 position: absolute;
 bottom: 0;
 width: 100%;
}

.playing-card {
  box-sizing: content-box !important;
}

#show-cheats-button {
  margin-top: 10px;
  margin-bottom: 12px;
}

#show-cheats-button:hover {
  cursor: pointer;
}

#cheat-area {
  font-size: 12px;
}